[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
binance-futures-connector = "*"
scikit-learn = "*"
pytz = "*"
python-dotenv = "*"
requests = "*"
binance-connector = "*"
statsmodels = "*"
matplotlib = "*"
seaborn = "*"
xgboost = "*"
ta-lib = "*"
pandas-ta = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
